# Ignore node_modules directory
node_modules/

# Ignore .env file which may contain sensitive information
.env

# Ignore local environment variables file
.env.local

# Ignore logs directory
/logs

# Ignore dist directory for compiled code
/dist

# Ignore coverage directory for test coverage reports
/coverage

# Ignore tmp directory for temporary files
/tmp

# Ignore npm or yarn cache
node_modules/.cache

# Ignore macOS .DS_Store files
.DS_Store

# Ignore package-lock.json file
package-lock.json
.vscode